  <div class="login-container">
<div class="login-bg">

<h1>Login</h1>

<%= form_tag sessions_path do %>
<p>
  <%= label_tag :email %><br />
  <%= text_field_tag :email, params[:email] %>
</p>
<p>
  <%= label_tag :password %><br />
  <%= password_field_tag :password %>
</p>
<p class="button login_submit"><%= submit_tag 'Submit' %></p>
<% end %>

<p class="pass-reset-link"><%= link_to "Forgot Your Password?", new_password_reset_path %></p>
<!-- <div class="field">
  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  <%= label_tag :remember_me %>
</div> -->

<!-- <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li> -->
<!-- <li><%= link_to "Sign in with Google", "/auth/google_oauth2" %></li> -->
<p class="signup-link"><%= link_to "Sign Up!", sign_up_path %></p>

</div>
</div>