  <div class="login-container">
<div class="login-bg">

<h1>Login</h1>

<%= form_tag sessions_path do %>
<p>
  <%= label_tag :email %><br />
  <%= text_field_tag :email, params[:email] %>
</p>
<p>
  <%= label_tag :password %><br />
  <%= password_field_tag :password %>
</p>
<p class="button login_submit"><%= submit_tag 'Submit' %></p>
<% end %>

<!-- <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li> -->
<!-- <li><%= link_to "Sign in with Google", "/auth/google_oauth2" %></li> -->
<li><%= link_to "Sign Up!", sign_up_path %></li>

</div>
</div>