<p id="notice"><%= notice %></p>

<h1 class="profile-header">
  <%= "#{@user.name}'s Profile" %>
</h1>

<p>
  <strong>City:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @user.notes %>
</p>

<% if current_user == @user %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
<% end %>
<br>
<br>
--------------------------------
<!-- Friends -->

<h2>Friends:</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h link_to friendship.friend.name, user_path(friendship.friend.id) %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find More Friends", users_path %></p>

<br>
<br>
--------------------------------

<h2>Friended by:</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h link_to user.name, user_path(user.id) %></li>
  <% end %>
</ul>